<?xml version="1.0" encoding="UTF-8"?>
<application>
    <framework>
        <attributes>
            <key name="log.config">log4jConfig.xml</key>
            <key name="log.class">mil.uscg.cg1v.filemanager</key>
            <key name="log.filename">filemanager.log</key>
            <key name="log.path">/home/development/temp/fmlogs/</key>
            <key name="config.dump">false</key>
            <key name="application.dateFormat">yyyyMMdd</key>
            <key name="application.timeFormat">HHmmssS</key>
            <key name="application.datetimeFormat">yyyyMMddHHmmssS</key>
            <key name="temp.path">/home/development/temp/</key>
        </attributes>
    </framework>
</application>
